.gmd-14 {
  overflow-x: hidden;
}
.gmd-14 .gmd-heading {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 25px 0 12px;
}
@media (max-width: 767px) {
  .gmd-14 .gmd-heading {
    margin-top: 22px;
  }
}
.gmd-14 .gmd-review-slider {
  overflow: hidden;
  margin-right: -15px;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .swiper-wrapper {
  padding-right: 0;
  display: flex;
  margin-bottom: 8px;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .swiper-slide {
  height: auto !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FDFDFD;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .review-arrow-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
}
@media (max-width: 767px) {
  .gmd-14 .gmd-review-slider .custom-slider-wrapper .review-arrow-buttons-wrapper {
    margin-top: 24px;
    padding-right: 14px;
  }
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .gmd-review-wrapper .gmd-review-source-wrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .gmd-review-wrapper p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .gmd-review-wrapper p b {
  font-weight: 600;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .gmd-review-wrapper p svg {
  margin-left: 7px;
  vertical-align: -2px;
}
@media (max-width: 767px) {
  .gmd-14 .gmd-review-slider .custom-slider-wrapper .gmd-review-wrapper .gmd-review-intro {
    text-align: center;
  }
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .custom-arrow-buttons {
  position: relative;
  max-width: 63px;
  width: 100%;
  gap: 7px;
  display: flex;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .custom-arrow-buttons > svg {
  border-radius: 60px;
  width: 28px;
  height: 28px;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .custom-arrow-buttons > svg:hover {
  background: #e6e6e6;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .custom-arrow-buttons .swiper-button-next,
.gmd-14 .gmd-review-slider .custom-slider-wrapper .custom-arrow-buttons .swiper-button-prev {
  position: unset;
  margin: 0;
  display: block;
  height: 27px;
  z-index: 1;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .custom-arrow-buttons .swiper-button-next::after,
.gmd-14 .gmd-review-slider .custom-slider-wrapper .custom-arrow-buttons .swiper-button-prev::after {
  content: none !important;
}
.gmd-14 .gmd-review-slider .custom-slider-wrapper .swiper-pagination {
  display: none !important;
}
.gmd-14 .gmd-review-slider .gmd-review-card {
  padding: 12px 12px 10px;
  display: block;
  background: #FFF;
  border-radius: 4px;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-rating-number-wrapper {
  position: relative;
  display: flex;
  gap: 8px;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-rating-number-wrapper .gmd-rating-number {
  color: #605E55;
  font-size: 8px;
  font-weight: 500;
  line-height: normal;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-rating-number-wrapper .gmd-author-logo {
  color: #1C1C1C;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 24px;
  width: 100%;
  height: 24px;
  border-radius: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 360px) {
  .gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-rating-number-wrapper .gmd-author-logo {
    font-size: 10px;
  }
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-rating-number-wrapper .gmd-info {
  display: flex;
  flex-direction: column;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-rating-number-wrapper .gmd-author {
  color: #1C1C1C;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-review {
  display: flex;
  gap: 19px;
  align-items: center;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-header .gmd-review p {
  margin: 0;
  color: #1B6820;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-slides-heading {
  color: #2E2F29;
  font-size: 14px;
  font-style: normal;
  display: block;
  font-weight: 700;
  line-height: 140%;
  margin: 15px 0 10px 0;
  font-family: "Helvetica Neue", sans-serif;
}
@media (max-width: 767px) {
  .gmd-14 .gmd-review-slider .gmd-review-card .gmd-slides-heading {
    font-size: 13px;
  }
}
.gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-text {
  margin: 0;
  color: #2E2F29;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: "Helvetica Neue", sans-serif;
}
@media (max-width: 767px) {
  .gmd-14 .gmd-review-slider .gmd-review-card .gmd-review-text {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */